#accordion-tab-container {
	border-color: black;
	border-style: solid;
	margin-bottom: 10px;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
}

#accordion-tab-label {
	text-align: center;
}

#accordion-tab-content-container {
	border-color: rgb(109, 109, 109);
	border-top-style: solid;
	margin-top: 5px;
}

#accordion-tab-content {
	padding: 5px 10px;
}